<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>1</display-name>
	
	
	<welcome-file-list>
	<welcome-file>Home.html</welcome-file>
	</welcome-file-list>
	
	
	
	<servlet>
		<servlet-name>first</servlet-name>
		<servlet-class>com.servlet.FirstServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>second</servlet-name>
		<servlet-class>com.servlet.Generic</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>third</servlet-name>
		<servlet-class>com.servlet.ThirdServHttp</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>first</servlet-name>
	<url-pattern>/web</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	<servlet-name>second</servlet-name>
	<url-pattern>/second</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	<servlet-name>third</servlet-name>
	<url-pattern>/third</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
		<servlet-name>fourth</servlet-name>
		<servlet-class>com.servlet.RegisterServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>fourth</servlet-name>
	<url-pattern>/registerServlet</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
		<servlet-name>successServ</servlet-name>
		<servlet-class>com.servlet.SuccessServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>successServ</servlet-name>
	<url-pattern>/success</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>S1</servlet-name>
		<servlet-class>com.servlet.S1</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>S1</servlet-name>
	<url-pattern>/s1</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>S2</servlet-name>
		<servlet-class>com.servlet.S2</servlet-class>
	</servlet>
	
	<servlet-mapping>
	<servlet-name>S2</servlet-name>
	<url-pattern>/s2</url-pattern>
	</servlet-mapping>
	
</web-app>